name: Prepare Release
on:
  workflow_dispatch:
    inputs:
      release_id:
        description: 'Release id (tag name)'
        required: true
jobs:
  create_release:
    name: Create release draft
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create release
        id: create_release
        uses: actions/create-release@v1 # https://github.com/actions/create-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Automatically provided
        with:
          tag_name: ${{ github.event.inputs.release_id }}
          body: |
            Download the klog binary here:

            - [**MacOS**](https://github.com/jotaen/klog/releases/download/${{ github.event.inputs.release_id }}/klog-mac.zip)
            - [**Linux**](https://github.com/jotaen/klog/releases/download/${{ github.event.inputs.release_id }}/klog-linux.zip)

            You find the install instructions in the [README](https://github.com/jotaen/klog).
            Consult the [Changelog](https://github.com/jotaen/klog/blob/main/CHANGELOG.md) to learn what’s new.

            In order to not miss updates you can either subscribe to the release notifications on Github (at the top right: “Watch”→“Custom“→“Releases”), or you occasionally run `klog version`.
          release_name: ${{ github.event.inputs.release_id }}
          prerelease: true
          draft: true
  build:
    name: Build
    needs: create_release
    strategy:
      matrix:
        include:
          - name: linux
            runner_os: ubuntu-latest
            go_os: linux
            binary_name: klog
          - name: mac
            runner_os: macos-latest
            go_os: darwin
            binary_name: klog
          - name: windows
            runner_os: ubuntu-latest # Run on Linux for portability of workflow
            go_os: windows
            binary_name: klog.exe
    runs-on: ${{ matrix.runner_os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: Build binary
        env:
          GOOS: ${{ matrix.go_os }}
          GOARCH: amd64
        run: |
          ./run build ${{ github.event.inputs.release_id }} ${{ github.sha }}
      - name: Smoke test
        if: ${{ matrix.name != 'windows' }} # This test is not executable on Windows
        run: |
          [[ $(./out/klog version --no-check) == *"${{ github.event.inputs.release_id }}"* ]] && $(exit 0) || $(exit 1)
      - name: Bundle
        run: |
          mv ./out/klog ./out/${{ matrix.binary_name }}
          zip -j klog-${{ matrix.name }}.zip ./out/${{ matrix.binary_name }}
      - name: Upload binaries
        uses: actions/upload-release-asset@v1 # https://github.com/actions/upload-release-asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Automatically provided
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: ./klog-${{ matrix.name }}.zip
          asset_name: klog-${{ matrix.name }}.zip
          asset_content_type: application/zip
